<!DOCTYPE html>
<html>

<head>
  <title>Verwaltung Superhelden</title>
  <link href="style.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link href="Skeleton/css/normalize.css" type="text/css" rel="stylesheet">
  <link href="Skeleton/css/skeleton.css" type="text/css" rel="stylesheet">

  <meta charset="utf-8">
</head>

<body>
  <header id="home" class="headbereich">
    <div class="Überschrift">
      <i class="fa fa-rocket"></i> Superhelden
      <br /> Verwaltung</div>
    <div class="Navigation">
      <a href="#home" class="Link">Home</a>
      <a href="#tabelle" class="Link">Tabelle</a>
      <a href="#Hinzufügen" class="Link">Hinzufügen</a>
      <a href="#Galerie" class="Link">Galerie</a>
    </div>
  </header>
  <br />
  <br />
  <div id="app">
    <!--<button id="show-modal" @click="showModal = true">Show Modal</button>
     use the modal component, pass in the prop
    <modal v-if="showModal" @close="showModal = false">

      you can use custom content here to overwrite
      default content

      <h3 slot="header">Text bearbeiten</input></h3>
    </modal> -->
    <div id="tabelle" class="tabelle">
      <div class="container">
        <div class="row">
          <div class="three columns">
            <p class="fett">Name</p>
          </div>
          <div class="three columns">
            <p class="fett">Alter</p>
          </div>
          <div class="three columns">
            <p class="fett">Superkraft</p>
          </div>
          <div class="three columns">
            <p class="fett">Film</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" v-for="hero in heroes">
          <div class="three columns">
            <p class="row1-1" id="row1-1">{{ hero.name }}</p>
          </div>
          <div class="three columns">
            <p class="row1-2">{{ hero.age }}</p>
          </div>
          <div class="three columns">
            <p class="row1-3">{{ hero.strength }}</p>
          </div>
          <div class="three columns">
            <p class="row1-4">{{ hero.film }} <span class="delete"><i v-on:click= "deleteHero(hero)" class="fas fa-trash-alt"> </i></span><i class="edit fas fa-edit" id="show-modal" @click="showModal = true" ></i></button></p>
            <modal v-if="showModal" v-bind:hero="hero" @close="showModal = false">



              <h3 slot="header">Text bearbeiten</input></h3>
            </modal>
          </div>
        </div>
      </div>
    </div>
    <div class="formbox">
      <form id="Hinzufügen" class="formular">
        <input v-model="name" class="input" type="text" placeholder="Name"></input>
        <input v-model="age"class="input" type="text" placeholder="Alter"></input>
        <input v-model="strength" class="input" type="text" placeholder="Superkraft"></input>
        <input v-model="film" class="input" type="text" placeholder="Film"></input>
        <button @click="addHero" class="button-primary input button1">Hinzufügen</button>
      </form>
    </div>
    <div id="Galerie" class="helden">
    </div>
  </div>

  <!-- Vue -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- Firebase -->
  <script src="https://gstatic.com/firebasejs/4.0.0/firebase.js"></script>
  <!-- VueFire -->
  <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
  <!-- template for the modal component -->
  <script src="script.js"></script>

  <!-- template for the modal component -->
  <script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">

            <div class="modal-header">
              <slot name="header">
                Text bearbeiten
              </slot>
            </div>

            <div class="modal-body">
              <slot name="body">
                <input type="text" v-model="hero.name" placeholder="Name"
                @input="updateHeroText(hero, $event.target.value)"></input>
                <input type="text" v-model="hero.age" placeholder="Alter"
                @input="updateHeroText(hero, $event.target.value)"> </input>
                <input type="text" v-model="hero.strength" placeholder="Superkraft"
                @input="updateHeroText(hero, $event.target.value)"> </input>
                <input type="text" v-model="hero.film" placeholder="Film"
                @input="updateHeroText(hero, $event.target.value)"> </input>
              </slot>
            </div>

            <div class="modal-footer">
              <slot name="footer">
                Text eingeben
                <button class="modal-default-button" @click="$emit('close');" >
                  Bearbeiten
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>
</body>
</html
